<!-- Services Section -->
    <section id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Features</h2>
                   <!--
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                    -->
                </div>
            </div>
            
            <div class="row text-center">
                
                <div class="col-md-4">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-images fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Image Metadata Enrichment</h4>
                    <p class="text-muted">
                    Using state-of-the-art computer vision technologies from Amazon AWS to enrich and bring new depth and possibilities 
                     to the Library's digital image collection.
                    </p>
                </div>
                
                 <div class="col-md-4">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-magic fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Automatic cataloguing</h4>
                    <p class="text-muted">
                        ...
                    </p>
                </div>
                
                <div class="col-md-4">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-low-vision fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Accessibility</h4>
                    <p class="text-muted">
                           Enable vision impaired users greater accessibility to your image collection. 
                        Existing image repository records may have limited descriptive information which disadvantages vision 
                        impaired users when trying to understand, search and discovery visual content in your collection
                        
                    </p>
                </div>
                
             

            </div>  
            <div class="row text-center">
                
                 <div class="col-md-4">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-shipping-fast fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Distribution</h4>
                    <p class="text-muted">
                        Biblio AI works with your existing Library Discovery Layer, 
                        library content aggregators (Primo Central Index ..), 
                        and APIs ready for search engine distribution 
                    </p>
                </div>
                
                <div class="col-md-4">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-search fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Discovery and Re-use</h4>
                    <p class="text-muted">
                        Not limited to classic library search platforms, Biblio.ai
                    </p>
                </div>
                
                <div class="col-md-4">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-lock-open fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">100% Open Source</h4>
                    <p class="text-muted">
                           No vendor lock-in.  with either image repositroy provider or library discovyer
                    </p>
                </div>           

            </div>  
            <div class="row text-center">
                
                                
                <div class="col-md-4">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="far fa-clock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">No change required</h4>
                    <p class="text-muted">
                        Biblio AI is a drop in solution where no change is required to you existing image repository.
                    </p>
                </div>

                <div class="col-md-4">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fas fa-hands-helping fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Platform netural</h4>
                    <p class="text-muted">
                        Biblio AI works with any image repository or library discovery layer that implements the repository interoperability standard OAI-PMH
                    </p>
                </div>
               
                <div class="col-md-4">
                    <span class="fa-stack fa-2x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="far fa-paper-plane fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">AI enable legacy systems</h4>
                    <p class="text-muted">
                        ...
                    </p>
                </div>


             </div>       
        </div>
    </section>
